img {
	max-width: auto;
	max-height: auto;
}
.navbar {
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;

}
.navbar-header {
	background-color: lightblue;

}
.navbar-nav {
	background-color: lightgreen;

}
.container-fluid {
	background-color: red;
	margin: 0 auto;

}
.about {
	background-color: pink;
	padding: 20px;

}
.connect {
	background-color: silver;
	padding-bottom: 25px;

}
.a {
	background-color: blue;
}
.b {
	background-color: blue;
}
.C {
	background-color: blue;
}
